/x64
/sql
/out
/oradump.v12.suo
/oradump.vcxproj.filters
/oradump.vcxproj.user
/oradump.opensdf
/oradump.sdf
/start.cmd
/concat.sh
/combo.sql
/extract-bcp.sh
/start-bcp.cmd
/*.log
/oradump*.txt